include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	meta(name="viewport", content="width=device-width, initial-scale=1.0")
	meta(http-equiv="X-UA-Compatible", content="ie=edge")
	script(src="")
	title Portfolio | main page
body
	.wrapper
		.maincontent
			.parallax
				header.header
					.container.container--header
						.initials DV
						nav.nav
							ul.nav__list
							-var links = ["Главная", "Обо мне", "Навыки", "Работы", "Отзывы", "Связаться"]
							each link in links
								li.nav__item
									a.nav__link(href="#")= link
								
						.social
							ul.social__icons
								-var socialIcons = ["ig", "vk", "github"]
								each icon in socialIcons
									li(class="social__item")
										a(class=`social__link social__link--${icon}`) 
				section.section.primary
					.primary__wrap
						.primary__titlebox
							h5.subtitle.subtitle--primary Личный сайт </br> веб разработчика 
							h1.title.title--primary Вирин Даниил
						.primary__scroll Скролл
				section.section.about
					.container.container--about
						.about__person
							.about__avatar
								+image('content/myface.jpg', 'about__pic')
							.about__table
								ul.about__data
									li.about__col
										.about__greycol Проживаю:
									li.about__col
										.about__greycol Возраст:
									li.about__col
										.about__greycol Родился:
								ul.about__data
									li.about__col
										.about__maincol Москва
									li.about__col
										.about__maincol 27 лет
									li.about__col
										.about__maincol 1 января 1991
						.about__info
							.about__desc
								h5.subtitle.subtitle--about Привет, меня зовут
								h2.title.title--about Даниил Вирин
								p.maindesc.about__comment Я занимаюсь разработкой современных сайтов и приложений. 
									|Мне нравится делать интересные и современные проекты.
							.about__note
								p.subdesc.about__loftschool Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. 
									|Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво! 
									|(Хотя этот градиент выше просто ужасен, как и переход ниже.)
								
				.parallax__bg
				.parallax__gradient
				.parallax__grass
				.parallax__train
			section.section.perks
				.container.container--perks
					.perks__desc
						h3.title.title--perks Чем я могу быть полезен вам
						p.maindesc.perks__par Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. 
							|Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво! 
					.perks__circles
						ul.perks__array
							- 
								var perk = [
									['Front-end', ['HTML', 'CSS', 'JS', 'Jquery и Vue.js']],
									['Workflow', ['git', 'Terminal', 'gulp']],
								]
							each item in perk
								li.perks__row
									h3.title.title--perks #{item[0]}
									ul.perks__list
										each perk in item[1]
											li.perks__item
												.perks__wrap
													svg(viewbox="0 0 200 200" preserveAspectRatio="none").perks__shape
														defs
															linearGradient#linear(x1='0%' x2='100%').perks__circle--gradient
																stop(offset="0%" stop-color="#d0731b")
																stop(offset="100%" stop-color="#dc9322")
														circle(r="80" cx="100" cy="100").perks__circle.perks__circle--position--under
														circle(r="80" cx="100" cy="100" stroke="url(#linear)").perks__circle.perks__circle--position--above
														.perks__title #{perk}
				.perks__hands
			section.section.myworks
				.container.container--myworks
					.myworks__sliderbox
						h2.title.title--myworks Мои работы
						.myworks__slider
							.myworks__examples
								.myworks__wrap
									ul.myworks__list
										-var prev = ['prev1', 'prev2', 'prev3']
										each preview in prev
											li.myworks__item
												+image(`content/${preview}.jpg`, `myworks__prev myworks__${preview}`)
									.myworks__buttons
										button(type="button").nextbtn--myworks.btn--myworks.btn--myworks--active
										button(type="button").prevbtn--myworks.btn--myworks 
					.myworks__desc
						.myworks__tags
							ul.myworks__taglist
								-var tags = ['HTML', 'CSS', 'Javascript']
								each tag in tags
									li.myworks__ability= tag
						.myworks__title
							h3.title.title--myworks Сайт школы образования
							p.maindesc.maindesc--myworks Этот парень проходил обучение веб-разработке
								|не где-то, а в Loftschool! 2 месяца только самых тяжелых испытаний и бессонных ночей
							a.myworks__link(href="#") Посмотреть сайт
			section.section.opinions
				.container.container--opinions
					.opinions__title
						h2.title.title--opinions Что обо мне говорят
						.opinions__buttons
							button(type="button").prevbtn--opinions.btn--opinions
							button(type="button").nextbtn--opinions.btn--opinions.btn--opinions--active
					.opinions__slider
						ul.opinions__list
							li.opinions__comm
								.maindesc.maindesc--opinions Если бы это был настоящий комментарий, то, возможно, 
									|в нём было бы что-нибудь конструктивное или типа того. Но так как это всего лишь
									|макет, то я попытаюсь сломать верстку и добавить головной боли с выравниванием.
								.opinions__person
									.opinions__avatar
										+image("content/comm1.jpg", "opinions__face")
									.opinions__name
										h3.title.title--person Ковальчук Дмитрий
										.maindesc.maindesc--person Основатель Loftschool
							li.opinions__comm
								.maindesc.maindesc--opinions По правде сказать, понятия не имею, кто это, 
									|но так как это ученик нашей школы, то могу сказать только хорошее. И эти два факта вовсе
									|никак не связаны!
								.opinions__person
									.opinions__avatar
										+image("content/comm2.jpg", "opinions__face")
									.opinions__name
										h3.title.title--person Сабанцев Владимир
										.maindesc.maindesc--person Преподаватель
							li.opinions__comm
								.maindesc.maindesc--opinions По правде сказать, понятия не имею, кто это, 
									|но так как это ученик нашей школы, то могу сказать только хорошее. И эти два факта вовсе
									|никак не связаны!
								.opinions__person
									.opinions__avatar
										+image("content/comm2.jpg", "opinions__face")
									.opinions__name
										h3.title.title--person Сабанцев Владимир
										.maindesc.maindesc--person Преподаватель
					.opinions__form
						h2.title.title--form Связаться со мной
						form.form(action="POST")
							.form__data
								label.form__name
									h4.subtitle.subtitle--form Введите ваше имя
									input(type="text" placeholder="Иван Иванов").form__input.form__input--name
								label.form__email
									h4.subtitle.subtitle--form Введите ваш email
									input(type="text" placeholder="loftschool@study.com").form__input.form__input--email
							.form__comment
								label.form__comment
									h4.subtitle.subtitle--form Сообщение к письму
									textarea(placeholder="Требуется ваша помощь в создании сайта. Интересуют сроки и цена вопроса" rows="2").form__input.form__input--comment
							button(type="button").form__button Отправить
				.opinions__gradient
				.leaf.leaf1
				.leaf.leaf2
				.leaf.leaf3
				.leaf.leaf4
			footer.footer
				.container.container--footer 
					.footer__author
						h2.footer__copyright © 2019
						h3.title.footer--title Даниил Вирин
						p.subdesc.footer__subdesc Личный сайт веб-разработчика
					.footer__fill
						nav.nav
								ul.nav__list
								-var links = ["Главная", "Обо мне", "Навыки", "Работы", "Отзывы", "Связаться"]
								each link in links
									li.nav__item
										a.nav__link(href="#")= link
						.footer__desc
							.footer__socials
								p.maindesc.footer--maindesc Этот сайт я сделал в рамках обучения в Школе онлайн 
									|образования Loftschool
								ul.social__icons.social__icons--footer
									-var socialIcons = ["ig", "vk", "github"]
									each icon in socialIcons
										li(class="social__item social__item--footer")
											a(class=`social__link--${icon} social__link--footer`) 
							.footer__great
								p.subdesc.footer--maindesc Всегда пишите код так, будто сопровождать его будет склонный 
									|к насилию психопат, который знает где вы живете
								h4.subdesc.footer__quoter Martin Golding
					